<!doctype html>
<html lang="en">
    <head>
        <title>silc</title>
    </head>
    <body>
        <h1>silc</h1>
        <h2>Accordion</h2>
        <h3>Accordion standard</h3>
        {{>../components/accordion/accordion}}
        <h3>Accordion that becomes tabs</h3>
        {{>../components/accordion/accordion--become-tabs}}
        <h3>Tabs</h3>
        {{>../components/accordion/accordion--tabs}}
    </body>
</html>
