/*
 * CSS
 * 
 */
import "../scss/index.scss";

/*
 * JS
 */
import { SilcAccordion } from "silc-accordion";
import { SilcNav } from "silc-nav";

[].forEach.call(document.querySelectorAll('.silc-accordion'), (el) => {
    new SilcAccordion(el);
});

[].forEach.call(document.querySelectorAll('.silc-nav'), (el) => {
    new SilcNav(el);
});
