/*
 * CSS
 * 
 */
import "../scss/index.scss";

/*
 * JS
 */
import { SilcAccordion } from "silc-accordion";
import { SilcNav } from "silc-nav";
import { SilcOffcanvas } from "silc-offcanvas";
import { SilcCore } from "silc-core";

new SilcCore();

[].forEach.call(document.querySelectorAll('.silc-accordion'), (el) => {
    new SilcAccordion(el);
});

[].forEach.call(document.querySelectorAll('.silc-nav'), (el) => {
    new SilcNav(el);
});

[].forEach.call(document.querySelectorAll('.silc-offcanvas__trigger'), (el) => {
    new SilcOffcanvas(el);
});
