<div class="silc-accordion silc-accordion--become-tabs" id="accordion-3">
    <nav class="silc-accordion__nav">
        <ul class="silc-accordion__nav-items">
            <li class="silc-accordion__nav-item"><a class="silc-accordion__nav-link" href="#silc-accordion-3-1">Tab 1</a></li>
            <li class="silc-accordion__nav-item"><a class="silc-accordion__nav-link" href="#silc-accordion-3-2">Tab 2</a></li>
        </ul>
    </nav>
    <section class="silc-accordion__section" id="silc-accordion-3-1">
        <header class="silc-accordion__header">
            <h2 class="silc-accordion__label">Tab 1</h2>
        </header>
        <div class="silc-accordion__content">
            <p>Tab 1 content.</p>
        </div>
    </section>
    <section class="silc-accordion__section" id="silc-accordion-3-2">
        <header class="silc-accordion__header">
            <h2 class="silc-accordion__label">Tab 2</h2>
        </header>
        <div class="silc-accordion__content">
            <p>Tab 2 content.</p>
        </div>
    </section>
</div>
