<div class="silc-accordion">
    <section class="silc-accordion__section">
        <header class="silc-accordion__header">
            <h2 class="silc-accordion__label">Accordion 1</h2>
        </header>
        <div class="silc-accordion__content">
            <p>Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Vivamus sagittis
                lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Nullam quis risus eget urna
                mollis ornare vel eu leo.</p>
        </div>
    </section>
    <section class="silc-accordion__section">
        <header class="silc-accordion__header">
            <h2 class="silc-accordion__label">Accordion 2</h2>
        </header>
        <div class="silc-accordion__content">
            <p>Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Vivamus sagittis
                lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Nullam quis risus eget urna
                mollis ornare vel eu leo.</p>
        </div>
    </section>
</div>
